:root{
  --heading-font: "Marcellus", serif;
  --nav-font: "Marcellus", serif;
  --default-font: "Open Sans", sans-serif;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: var(--heading-font);
  overflow-x: hidden;
  /* background: linear-gradient(to right, #31e405, #6cf158); */
}
html{
  scroll-behavior: smooth;
}
nav{
font-family: var(--nav-font);
display: flex;
justify-content: space-between;
padding: 18px;
}
.logo{
  display: inline;
  margin-left: 8%;
  /* background: green; */
}
.logo img{
  width: 90px;
  height: 60px;
  object-fit: contain;
}
nav ul{
  width: 55%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 8%;
  /* background: #949494; */
}
nav ul li{
cursor: pointer;
}
li:hover{
  color: #116530;
}
.imgCollection{
  white-space: nowrap;
  position: relative;
  z-index: 1;

}
.imgCollection img{
width:100%;
height: 100vh;
object-fit: cover;
background-repeat: no-repeat;
background-position: center;
z-index: 2;
}
.bi-arrow-left-short{
  position: absolute;
  top:60%;
  left: 1%;
  color: black;
  z-index: 12;
}
.bi-arrow-right-short{
  position: absolute;
  top:60%;
  right: 1%;
  color: black;
  z-index: 12;
}
.risp1{
  display: none;
}
@media (max-width:600px){
  .oneone{
    background-color: red;
  }
}
@media (max-width:1152px){
  .risp1{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 8%;
   }
   nav ul{
    display: none;
  }
  
}
@media (min-width:1152px){
  .risp1{
    position: absolute;
    left: -100px;
    display: none;
  }
  nav ul{
    display: flex;
  }
}
.head{
  padding: 10px;
  cursor: pointer;
}
.itemHead{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  grid-template-rows: 200px 200px;
}
.items{
  border:1px solid lightgray;
  padding: 18px;
  line-height: 24px;
display: flex;
flex-direction: column;
align-items: left;
}
.logoF{
  width: 60px;
  height: 60px;
}
.container1{
  width: 100%;
  height: 110vh;
  background-color: #116530;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding-left: 8%;
  padding-right: 8%;
}
.part2{
  margin-top: 15%;
  padding: 5%;
  line-height: 44px;
  color: white;
}
#partImg{
  position: relative;
  top: -40px;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.container2{
  width: 100%;
  height: 100vh;
  display: flex;
  padding-left: 7%;
  padding-right: 7%;
}
.section1{
  width: 70%;
  padding-right: 5%;
  position: relative;
  top: 35%;
  height: 500px;  
}
.section2{
  position: relative;
  top: 25%;
}
.section2 img{
  width: 500px;
}
.container3{
  width: 100%;
  height: 57vh;
  background-color: black;
  color: white;
}
.conInside{
  position: relative;
  top: 20%;
  display: flex;
  white-space: nowrap;
  height: auto;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}
.images2{
  background-color: #2f2f2f;
  width: 25vw;
  height: auto;
  z-index: 2;
  object-fit: contain;
  position: relative;
  left: 0%;
  margin-right: 2.98%;
}
.examine{
  gap: 18px;
  display: flex;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}
.test{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 10px;
  background-color: #2f2f2f;
}
.main01{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
  grid-template-rows: 300px 300px;
  gap: 30px;
  padding: 90px;
}
.item01{
  font-size: larger;
  line-height: 30px;
  font-weight:lighter;
}
.item1img{
  width: 100px;
  height: auto;
  object-fit: cover;
  border-radius: 80%;
}
.main02{
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 3%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  gap: 23px;
  grid-template-rows: 438px;
}
.item02{
  box-shadow: -15px -15px 15px rgba(255,255,255,0.5),15px 15px 15px rgba(1,1,1,0.05)
}
.item02 img{
  width: 100%;
  height: 50%;
  object-fit: cover;
}
input:focus{
  outline: none;
}
.pointer{
  cursor: pointer;
}
.pointer:hover{
  color: #116530;
}